.left {
    float: left;
    width: 18%;
    height: 95%;
    background-color: #1b1c1d;
    /* background-color: #ededed; */
}

.right {
    border-left: 5px solid #29c32f;
    border-right: 5px solid #29c32f;
    float: right;
    width: 82%;
    height: 95%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.ui.list {
    padding-left: 15%;
}

a.item {
    font-size: 18px;
    margin: 10px;
}

.title {
    padding: 10%;
    text-align: center;
    color: #29c32f;
}

.right {
    padding: 2%;
}

.right video {
    width: 100%;
}

.ui.list>a.item {
    color: #fff;
}

hr {
    opacity: 0.1;
}

@media (max-width:768px) {
    .left {
        width: 100%;
        background-color: #1b1c1d;
    }
    .right{
        width: 100%;
    }
    .title {
        padding: 5%;
        text-align: center;
        color: #29c32f;
    }
}
@media (max-width:500px) {
    .right{
        width: 100%;
        height: 40%;
    }
}